%form{ :action => "/", :method => "put"}
  %label{:for => "message"} Your Mom is So...
  %input{:type => "text", :name => "message", :class => "text"}
  %input{:type => "submit", :value => "Submit", :class => "button"}